/* TODO: what type of selector is this? */
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* TODO: what type of selector is this? */
h1 {
    color: blue;
}

p {
    margin: 10px 0;
}

ul {
    margin: 20px 0;
    padding-left: 20px;
}

li {
    margin: 5px 0;
}

a {
    color: green;
}

/* TODO: what type of selector is this? */
.highlight {
    background-color: yellow;
    font-weight: bold;
}

.new {
    color: red;
}

.something     {
    color: purple;
}

.special {
    color: purple;
}

/* TODO: what type of selector is this? */
#uniqueDiv {
    color: red;
    font-size: 20px;
}