/* The primary color should be applied to headings, buttons, and links.
- The secondary color should be applied to backgrounds, borders, or other secondary elements. */

:root {
    --primary-color: #0041d9;
    --secondary-color: #ffdddd;
    --tertiary-color: #000000;
    --light-color: #e1e4d5;
    --nav-padding--: 15px;
    --homepage-img-width--: 20%;
}

.dark-mode {
    --primary-color: #1f2124;
    --secondary-color: #ffdddd;
    --tertiary-color: #000000;
    --light-color: #f5f7f9; 
}

/* Basic Page Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    /* Hardcoded white */
    color: var(--tertiary-color);
    /* Hardcoded black */
}

/* Navigation Bar */
nav {
    background-color: var(--primary-color);
    /* Hardcoded red */
    padding: var(--nav-padding--);
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    /* Hardcoded white */
    font-weight: bold;
}

/* Header Section */
header {
    text-align: center;
    background-color: var(--primary-color);
    /* Hardcoded red */
    color: var(--secondary-color);
    /* Hardcoded white */
    padding: 40px 0;
}

header h1 {
    margin: 0;
}

.header-image {
    width: 100%;
    
}

/* Main Content */
.content {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: var(--secondary-color);
    /* Hardcoded white */
}

img {
    max-height:fit-content;
    width: var(--homepage-img-width--);
    
}

.box {
    width: 40%;
    padding: 20px;
    background-color: var(--light-color);
    /* Light red background */
    border: 2px solid var(--primary-color);
    /* Hardcoded red border */
    color: var(--primary-color);
    /* Hardcoded red text */
    text-align: center;
}

.box h2 {
    margin-top: 0;
}

.box p {
    color: var(--tertiary-color);
    /* Hardcoded black text */
}

a.option {
    color: var(--primary-color);
    /* Hardcoded red */
    text-decoration: none;
    width: 50%;
}